{% extends "registration/base.html" %}
{% block title %}{{ userinfo }}{% endblock %}
{% block nick %}{{ userinfo }}{% endblock %} 
{% block content %}

<header id="logo" class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-push-2">
		    <h1 class="blog-title">
		    	<a href="/">克苏鲁之骰</a>
		    </h1>
		    <h2 class="blog-desc">
		    	<a href="/">你听到克苏鲁的召唤了吗……</a>
		    </h2>
		    <div class="social">
			    <a href="/cthulhudice/" class="btn btn-outline btn-lg" title="小游戏：克苏鲁之骰">>> 是的！</a>
		    </span>
		</div>
    </div>
    <br>
</header>

{% endblock %}
